.button {
  width: 100px;
  height: 30px;
  background-color: dodgerblue;
  color: white;
  margin: 5px;
  border: 1px solid dodgerblue;
  font-weight: 600;
}
.counter {
  width: 400px;
  height: 50px;
  background-color: orange;
  color: black;
  font-weight: 600;
  border: none;
  display: flex;
  justify-content: center;
  align-self: center;
}
